.wrapper {
  position: relative;

  display: flex;

  width: 100%;

  margin: 10px;

  border-radius: 4px;

  .active {
    position: relative;
  }

  .active::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 4px;

    border: 2px dashed #006cff;
  }
}
